<!DOCTYPE html>
<html>
    <head>
        <link rel="style" type="text/css" href="style.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Resume</title>

    </head>
    <body
    <div class="container">
        <main class="row"
            <section class="col">
                <hearder class="title">
                    <h2>EDUCATION</h2>
                </hearder>
                <div class="contents">
                        <div class="box">
                            <h4>2017 - 2018</h4>
                            <h3>Pragati little public school</h3>
                            <p>lorem ipsum dfghfjhkxbcjk gcyxhbfg sxg iyfbcjxv g cjgdtf hzcg hjcghjgjchvcghvgcjj hj xvczhckhk gxzjcxvhgnhj dhfcgn xghjjfbj  </p>
                
                        </div>

                        <div class="box">
                            <h4>2018 - 2020</h4>
                            <h3>Narayana junior college</h3>
                            <p>lorem ipsum dfghfjhkxbcjk gcyxhbfg sxg iyfbcjxv g cjgdtf hzcg hjcghjgjchvcghvgcjj hj xvczhckhk gxzjcxvhgnhj dhfcgn xghjjfbj  </p>
                
                        </div>

                        <div class="box">
                            <h4>2020 - 2024</h4>
                            <h3>Kakinada institute</h3>
                            <p>lorem ipsum dfghfjhkxbcjk gcyxhbfg sxg iyfbcjxv g cjgdtf hzcg hjcghjgjchvcghvgcjj hj xvczhckhk gxzjcxvhgnhj dhfcgn xghjjfbj  </p>
                
                        </div>
                </div>               
            </section>
        </main>
    </div>
</html>